@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?iokbcb');
  src:  url('fonts/icons.eot?iokbcb#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?iokbcb') format('truetype'),
    url('fonts/icons.woff?iokbcb') format('woff'),
    url('fonts/icons.svg?iokbcb#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Mila-"], [class*=" Mila-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Mila-mobile1:before {
  content: "\e000";
}
.Mila-laptop1:before {
  content: "\e001";
}
.Mila-desktop:before {
  content: "\e002";
}
.Mila-tablet1:before {
  content: "\e003";
}
.Mila-phone1:before {
  content: "\e004";
}
.Mila-document:before {
  content: "\e005";
}
.Mila-documents:before {
  content: "\e006";
}
.Mila-search1:before {
  content: "\e007";
}
.Mila-clipboard1:before {
  content: "\e008";
}
.Mila-newspaper1:before {
  content: "\e009";
}
.Mila-notebook:before {
  content: "\e00a";
}
.Mila-book-open:before {
  content: "\e00b";
}
.Mila-browser:before {
  content: "\e00c";
}
.Mila-calendar1:before {
  content: "\e00d";
}
.Mila-presentation:before {
  content: "\e00e";
}
.Mila-picture:before {
  content: "\e00f";
}
.Mila-pictures:before {
  content: "\e010";
}
.Mila-video:before {
  content: "\e011";
}
.Mila-camera1:before {
  content: "\e012";
}
.Mila-printer1:before {
  content: "\e013";
}
.Mila-toolbox:before {
  content: "\e014";
}
.Mila-briefcase1:before {
  content: "\e015";
}
.Mila-wallet:before {
  content: "\e016";
}
.Mila-gift1:before {
  content: "\e017";
}
.Mila-bargraph:before {
  content: "\e018";
}
.Mila-grid:before {
  content: "\e019";
}
.Mila-expand:before {
  content: "\e01a";
}
.Mila-focus:before {
  content: "\e01b";
}
.Mila-edit:before {
  content: "\e01c";
}
.Mila-adjustments:before {
  content: "\e01d";
}
.Mila-ribbon:before {
  content: "\e01e";
}
.Mila-hourglass:before {
  content: "\e01f";
}
.Mila-lock1:before {
  content: "\e020";
}
.Mila-megaphone:before {
  content: "\e021";
}
.Mila-shield1:before {
  content: "\e022";
}
.Mila-trophy1:before {
  content: "\e023";
}
.Mila-flag1:before {
  content: "\e024";
}
.Mila-map1:before {
  content: "\e025";
}
.Mila-puzzle:before {
  content: "\e026";
}
.Mila-basket:before {
  content: "\e027";
}
.Mila-envelope:before {
  content: "\e028";
}
.Mila-streetsign:before {
  content: "\e029";
}
.Mila-telescope:before {
  content: "\e02a";
}
.Mila-gears:before {
  content: "\e02b";
}
.Mila-key1:before {
  content: "\e02c";
}
.Mila-paperclip:before {
  content: "\e02d";
}
.Mila-attachment1:before {
  content: "\e02e";
}
.Mila-pricetags:before {
  content: "\e02f";
}
.Mila-lightbulb:before {
  content: "\e030";
}
.Mila-layers:before {
  content: "\e031";
}
.Mila-pencil1:before {
  content: "\e032";
}
.Mila-tools:before {
  content: "\e033";
}
.Mila-tools-2:before {
  content: "\e034";
}
.Mila-scissors1:before {
  content: "\e035";
}
.Mila-paintbrush:before {
  content: "\e036";
}
.Mila-magnifying-glass:before {
  content: "\e037";
}
.Mila-circle-compass:before {
  content: "\e038";
}
.Mila-linegraph:before {
  content: "\e039";
}
.Mila-mic1:before {
  content: "\e03a";
}
.Mila-strategy:before {
  content: "\e03b";
}
.Mila-beaker:before {
  content: "\e03c";
}
.Mila-caution:before {
  content: "\e03d";
}
.Mila-recycle:before {
  content: "\e03e";
}
.Mila-anchor:before {
  content: "\e03f";
}
.Mila-profile-male:before {
  content: "\e040";
}
.Mila-profile-female:before {
  content: "\e041";
}
.Mila-bike:before {
  content: "\e042";
}
.Mila-wine:before {
  content: "\e043";
}
.Mila-hotairballoon:before {
  content: "\e044";
}
.Mila-globe:before {
  content: "\e045";
}
.Mila-genius:before {
  content: "\e046";
}
.Mila-map-pin:before {
  content: "\e047";
}
.Mila-dial:before {
  content: "\e048";
}
.Mila-chat:before {
  content: "\e049";
}
.Mila-heart1:before {
  content: "\e04a";
}
.Mila-cloud1:before {
  content: "\e04b";
}
.Mila-upload1:before {
  content: "\e04c";
}
.Mila-download1:before {
  content: "\e04d";
}
.Mila-target1:before {
  content: "\e04e";
}
.Mila-hazardous:before {
  content: "\e04f";
}
.Mila-piechart:before {
  content: "\e050";
}
.Mila-speedometer:before {
  content: "\e051";
}
.Mila-global:before {
  content: "\e052";
}
.Mila-compass1:before {
  content: "\e053";
}
.Mila-lifesaver:before {
  content: "\e054";
}
.Mila-clock1:before {
  content: "\e055";
}
.Mila-aperture:before {
  content: "\e056";
}
.Mila-quote:before {
  content: "\e057";
}
.Mila-scope:before {
  content: "\e058";
}
.Mila-alarmclock:before {
  content: "\e059";
}
.Mila-refresh:before {
  content: "\e05a";
}
.Mila-happy1:before {
  content: "\e05b";
}
.Mila-sad1:before {
  content: "\e05c";
}
.Mila-facebook1:before {
  content: "\e05d";
}
.Mila-twitter1:before {
  content: "\e05e";
}
.Mila-googleplus:before {
  content: "\e05f";
}
.Mila-rss1:before {
  content: "\e060";
}
.Mila-tumblr1:before {
  content: "\e061";
}
.Mila-linkedin1:before {
  content: "\e062";
}
.Mila-dribbble1:before {
  content: "\e063";
}
.Mila-heart2:before {
  content: "\e900";
}
.Mila-cloud2:before {
  content: "\e901";
}
.Mila-star:before {
  content: "\e902";
}
.Mila-tv1:before {
  content: "\e903";
}
.Mila-sound:before {
  content: "\e905";
}
.Mila-video1:before {
  content: "\e906";
}
.Mila-trash:before {
  content: "\e907";
}
.Mila-user1:before {
  content: "\e908";
}
.Mila-key3:before {
  content: "\e909";
}
.Mila-search2:before {
  content: "\e90a";
}
.Mila-settings:before {
  content: "\e90b";
}
.Mila-camera2:before {
  content: "\e90c";
}
.Mila-tag:before {
  content: "\e90d";
}
.Mila-lock2:before {
  content: "\e90e";
}
.Mila-bulb:before {
  content: "\e90f";
}
.Mila-pen1:before {
  content: "\e910";
}
.Mila-diamond:before {
  content: "\e911";
}
.Mila-display1:before {
  content: "\e912";
}
.Mila-location1:before {
  content: "\e913";
}
.Mila-eye1:before {
  content: "\e914";
}
.Mila-bubble1:before {
  content: "\e915";
}
.Mila-stack1:before {
  content: "\e916";
}
.Mila-cup:before {
  content: "\e917";
}
.Mila-phone2:before {
  content: "\e918";
}
.Mila-news:before {
  content: "\e919";
}
.Mila-mail1:before {
  content: "\e91a";
}
.Mila-like:before {
  content: "\e91b";
}
.Mila-photo:before {
  content: "\e91c";
}
.Mila-note:before {
  content: "\e91d";
}
.Mila-clock3:before {
  content: "\e91e";
}
.Mila-paperplane:before {
  content: "\e91f";
}
.Mila-params:before {
  content: "\e920";
}
.Mila-banknote:before {
  content: "\e921";
}
.Mila-data:before {
  content: "\e922";
}
.Mila-music1:before {
  content: "\e923";
}
.Mila-megaphone1:before {
  content: "\e924";
}
.Mila-study:before {
  content: "\e925";
}
.Mila-lab1:before {
  content: "\e926";
}
.Mila-food:before {
  content: "\e927";
}
.Mila-t-shirt:before {
  content: "\e928";
}
.Mila-fire1:before {
  content: "\e929";
}
.Mila-clip:before {
  content: "\e92a";
}
.Mila-shop:before {
  content: "\e92b";
}
.Mila-calendar2:before {
  content: "\e92c";
}
.Mila-wallet1:before {
  content: "\e92d";
}
.Mila-vynil:before {
  content: "\e92e";
}
.Mila-truck1:before {
  content: "\e92f";
}
.Mila-world:before {
  content: "\e930";
}
.Mila-apacheairflow:before {
  content: "\e931";
  color: #007a88;
}
.Mila-apacheflink:before {
  content: "\e904";
  color: #e6526f;
}
.Mila-baidu:before {
  content: "\e932";
  color: #2319dc;
}
.Mila-bower:before {
  content: "\e933";
  color: #ef5734;
}
.Mila-buymeacoffee:before {
  content: "\e934";
  color: #ff813f;
}
.Mila-cassandra:before {
  content: "\e935";
  color: #1287b1;
}
.Mila-circle:before {
  content: "\e936";
  color: #8669ae;
}
.Mila-circleci:before {
  content: "\e937";
}
.Mila-deno:before {
  content: "\e938";
}
.Mila-directus:before {
  content: "\e939";
}
.Mila-ello1:before {
  content: "\e93a";
}
.Mila-flask:before {
  content: "\e93b";
}
.Mila-fossilscm:before {
  content: "\e93c";
  color: #548294;
}
.Mila-gentoo:before {
  content: "\e93d";
  color: #54487a;
}
.Mila-github1:before {
  content: "\e93e";
}
.Mila-gnuicecat:before {
  content: "\e93f";
  color: #002f5b;
}
.Mila-gov-dot-uk:before {
  content: "\e940";
  color: #005ea5;
}
.Mila-gradle:before {
  content: "\e941";
}
.Mila-gulp:before {
  content: "\e942";
  color: #da4648;
}
.Mila-hackaday:before {
  content: "\e943";
}
.Mila-haxe:before {
  content: "\e944";
  color: #ea8220;
}
.Mila-hootsuite:before {
  content: "\e945";
}
.Mila-inkscape:before {
  content: "\e946";
}
.Mila-jest:before {
  content: "\e947";
  color: #c21325;
}
.Mila-jinja:before {
  content: "\e948";
  color: #b41717;
}
.Mila-laravelnova:before {
  content: "\e949";
}
.Mila-latex:before {
  content: "\e94a";
  color: #008080;
}
.Mila-llvm:before {
  content: "\e94b";
}
.Mila-magisk:before {
  content: "\e94c";
  color: #00af9c;
}
.Mila-opensuse:before {
  content: "\e94d";
  color: #73ba25;
}
.Mila-plurk:before {
  content: "\e94e";
  color: #ff574d;
}
.Mila-postwoman:before {
  content: "\e94f";
  color: #50fa7b;
}
.Mila-prestashop:before {
  content: "\e950";
  color: #df0067;
}
.Mila-raspberrypi:before {
  content: "\e951";
  color: #c51a4a;
}
.Mila-react:before {
  content: "\e952";
  color: #61dafb;
}
.Mila-reverbnation:before {
  content: "\e953";
  color: #e43526;
}
.Mila-riseup:before {
  content: "\e954";
  color: #5e9ee3;
}
.Mila-ruby:before {
  content: "\e955";
  color: #cc342d;
}
.Mila-shell:before {
  content: "\e956";
  color: #ffd500;
}
.Mila-sparkfun:before {
  content: "\e957";
  color: #e53525;
}
.Mila-staticman:before {
  content: "\e958";
}
.Mila-strongswan:before {
  content: "\e959";
  color: #e00033;
}
.Mila-styled-components:before {
  content: "\e95a";
  color: #db7093;
}
.Mila-swarm:before {
  content: "\e95b";
  color: #ffa633;
}
.Mila-swift:before {
  content: "\e95c";
  color: #fa7343;
}
.Mila-tencentqq:before {
  content: "\e95d";
  color: #eb1923;
}
.Mila-tinder:before {
  content: "\e95e";
  color: #ff6b6b;
}
.Mila-home:before {
  content: "\e95f";
}
.Mila-home2:before {
  content: "\e960";
}
.Mila-home3:before {
  content: "\e961";
}
.Mila-office:before {
  content: "\e962";
}
.Mila-newspaper:before {
  content: "\e963";
}
.Mila-pencil:before {
  content: "\e964";
}
.Mila-pencil2:before {
  content: "\e965";
}
.Mila-quill:before {
  content: "\e966";
}
.Mila-pen:before {
  content: "\e967";
}
.Mila-blog:before {
  content: "\e968";
}
.Mila-eyedropper:before {
  content: "\e969";
}
.Mila-droplet:before {
  content: "\e96a";
}
.Mila-paint-format:before {
  content: "\e96b";
}
.Mila-image:before {
  content: "\e96c";
}
.Mila-images:before {
  content: "\e96d";
}
.Mila-camera:before {
  content: "\e96e";
}
.Mila-headphones:before {
  content: "\e96f";
}
.Mila-music:before {
  content: "\e970";
}
.Mila-play:before {
  content: "\e971";
}
.Mila-film:before {
  content: "\e972";
}
.Mila-video-camera:before {
  content: "\e973";
}
.Mila-dice:before {
  content: "\e974";
}
.Mila-pacman:before {
  content: "\e975";
}
.Mila-spades:before {
  content: "\e976";
}
.Mila-clubs:before {
  content: "\e977";
}
.Mila-diamonds:before {
  content: "\e978";
}
.Mila-bullhorn:before {
  content: "\e979";
}
.Mila-connection:before {
  content: "\e97a";
}
.Mila-podcast:before {
  content: "\e97b";
}
.Mila-feed:before {
  content: "\e97c";
}
.Mila-mic:before {
  content: "\e97d";
}
.Mila-book:before {
  content: "\e97e";
}
.Mila-books:before {
  content: "\e97f";
}
.Mila-library:before {
  content: "\e980";
}
.Mila-file-text:before {
  content: "\e981";
}
.Mila-profile:before {
  content: "\e982";
}
.Mila-file-empty:before {
  content: "\e983";
}
.Mila-files-empty:before {
  content: "\e984";
}
.Mila-file-text2:before {
  content: "\e985";
}
.Mila-file-picture:before {
  content: "\e986";
}
.Mila-file-music:before {
  content: "\e987";
}
.Mila-file-play:before {
  content: "\e988";
}
.Mila-file-video:before {
  content: "\e989";
}
.Mila-file-zip:before {
  content: "\e98a";
}
.Mila-copy:before {
  content: "\e98b";
}
.Mila-paste:before {
  content: "\e98c";
}
.Mila-stack:before {
  content: "\e98d";
}
.Mila-folder:before {
  content: "\e98e";
}
.Mila-folder-open:before {
  content: "\e98f";
}
.Mila-folder-plus:before {
  content: "\e990";
}
.Mila-folder-minus:before {
  content: "\e991";
}
.Mila-folder-download:before {
  content: "\e992";
}
.Mila-folder-upload:before {
  content: "\e993";
}
.Mila-price-tag:before {
  content: "\e994";
}
.Mila-price-tags:before {
  content: "\e995";
}
.Mila-barcode:before {
  content: "\e996";
}
.Mila-qrcode:before {
  content: "\e997";
}
.Mila-ticket:before {
  content: "\e998";
}
.Mila-cart:before {
  content: "\e999";
}
.Mila-coin-dollar:before {
  content: "\e99a";
}
.Mila-coin-euro:before {
  content: "\e99b";
}
.Mila-coin-pound:before {
  content: "\e99c";
}
.Mila-coin-yen:before {
  content: "\e99d";
}
.Mila-credit-card:before {
  content: "\e99e";
}
.Mila-calculator:before {
  content: "\e99f";
}
.Mila-lifebuoy:before {
  content: "\e9a0";
}
.Mila-phone:before {
  content: "\e9a1";
}
.Mila-phone-hang-up:before {
  content: "\e9a2";
}
.Mila-address-book:before {
  content: "\e9a3";
}
.Mila-envelop:before {
  content: "\e9a4";
}
.Mila-pushpin:before {
  content: "\e9a5";
}
.Mila-location:before {
  content: "\e9a6";
}
.Mila-location2:before {
  content: "\e9a7";
}
.Mila-compass:before {
  content: "\e9a8";
}
.Mila-compass2:before {
  content: "\e9a9";
}
.Mila-map:before {
  content: "\e9aa";
}
.Mila-map2:before {
  content: "\e9ab";
}
.Mila-history:before {
  content: "\e9ac";
}
.Mila-clock:before {
  content: "\e9ad";
}
.Mila-clock2:before {
  content: "\e9ae";
}
.Mila-alarm:before {
  content: "\e9af";
}
.Mila-bell:before {
  content: "\e9b0";
}
.Mila-stopwatch:before {
  content: "\e9b1";
}
.Mila-calendar:before {
  content: "\e9b2";
}
.Mila-printer:before {
  content: "\e9b3";
}
.Mila-keyboard:before {
  content: "\e9b4";
}
.Mila-display:before {
  content: "\e9b5";
}
.Mila-laptop:before {
  content: "\e9b6";
}
.Mila-mobile:before {
  content: "\e9b7";
}
.Mila-mobile2:before {
  content: "\e9b8";
}
.Mila-tablet:before {
  content: "\e9b9";
}
.Mila-tv:before {
  content: "\e9ba";
}
.Mila-drawer:before {
  content: "\e9bb";
}
.Mila-drawer2:before {
  content: "\e9bc";
}
.Mila-box-add:before {
  content: "\e9bd";
}
.Mila-box-remove:before {
  content: "\e9be";
}
.Mila-download:before {
  content: "\e9bf";
}
.Mila-upload:before {
  content: "\e9c0";
}
.Mila-floppy-disk:before {
  content: "\e9c1";
}
.Mila-drive:before {
  content: "\e9c2";
}
.Mila-database:before {
  content: "\e9c3";
}
.Mila-undo:before {
  content: "\e9c4";
}
.Mila-redo:before {
  content: "\e9c5";
}
.Mila-undo2:before {
  content: "\e9c6";
}
.Mila-redo2:before {
  content: "\e9c7";
}
.Mila-forward:before {
  content: "\e9c8";
}
.Mila-reply:before {
  content: "\e9c9";
}
.Mila-bubble:before {
  content: "\e9ca";
}
.Mila-bubbles:before {
  content: "\e9cb";
}
.Mila-bubbles2:before {
  content: "\e9cc";
}
.Mila-bubble2:before {
  content: "\e9cd";
}
.Mila-bubbles3:before {
  content: "\e9ce";
}
.Mila-bubbles4:before {
  content: "\e9cf";
}
.Mila-user:before {
  content: "\e9d0";
}
.Mila-users:before {
  content: "\e9d1";
}
.Mila-user-plus:before {
  content: "\e9d2";
}
.Mila-user-minus:before {
  content: "\e9d3";
}
.Mila-user-check:before {
  content: "\e9d4";
}
.Mila-user-tie:before {
  content: "\e9d5";
}
.Mila-quotes-left:before {
  content: "\e9d6";
}
.Mila-quotes-right:before {
  content: "\e9d7";
}
.Mila-hour-glass:before {
  content: "\e9d8";
}
.Mila-spinner:before {
  content: "\e9d9";
}
.Mila-spinner2:before {
  content: "\e9da";
}
.Mila-spinner3:before {
  content: "\e9db";
}
.Mila-spinner4:before {
  content: "\e9dc";
}
.Mila-spinner5:before {
  content: "\e9dd";
}
.Mila-spinner6:before {
  content: "\e9de";
}
.Mila-spinner7:before {
  content: "\e9df";
}
.Mila-spinner8:before {
  content: "\e9e0";
}
.Mila-spinner9:before {
  content: "\e9e1";
}
.Mila-spinner10:before {
  content: "\e9e2";
}
.Mila-spinner11:before {
  content: "\e9e3";
}
.Mila-binoculars:before {
  content: "\e9e4";
}
.Mila-search:before {
  content: "\e9e5";
}
.Mila-zoom-in:before {
  content: "\e9e6";
}
.Mila-zoom-out:before {
  content: "\e9e7";
}
.Mila-enlarge:before {
  content: "\e9e8";
}
.Mila-shrink:before {
  content: "\e9e9";
}
.Mila-enlarge2:before {
  content: "\e9ea";
}
.Mila-shrink2:before {
  content: "\e9eb";
}
.Mila-key:before {
  content: "\e9ec";
}
.Mila-key2:before {
  content: "\e9ed";
}
.Mila-lock:before {
  content: "\e9ee";
}
.Mila-unlocked:before {
  content: "\e9ef";
}
.Mila-wrench:before {
  content: "\e9f0";
}
.Mila-equalizer:before {
  content: "\e9f1";
}
.Mila-equalizer2:before {
  content: "\e9f2";
}
.Mila-cog:before {
  content: "\e9f3";
}
.Mila-cogs:before {
  content: "\e9f4";
}
.Mila-hammer:before {
  content: "\e9f5";
}
.Mila-magic-wand:before {
  content: "\e9f6";
}
.Mila-aid-kit:before {
  content: "\e9f7";
}
.Mila-bug:before {
  content: "\e9f8";
}
.Mila-pie-chart:before {
  content: "\e9f9";
}
.Mila-stats-dots:before {
  content: "\e9fa";
}
.Mila-stats-bars:before {
  content: "\e9fb";
}
.Mila-stats-bars2:before {
  content: "\e9fc";
}
.Mila-trophy:before {
  content: "\e9fd";
}
.Mila-gift:before {
  content: "\e9fe";
}
.Mila-glass:before {
  content: "\e9ff";
}
.Mila-glass2:before {
  content: "\ea00";
}
.Mila-mug:before {
  content: "\ea01";
}
.Mila-spoon-knife:before {
  content: "\ea02";
}
.Mila-leaf:before {
  content: "\ea03";
}
.Mila-rocket:before {
  content: "\ea04";
}
.Mila-meter:before {
  content: "\ea05";
}
.Mila-meter2:before {
  content: "\ea06";
}
.Mila-hammer2:before {
  content: "\ea07";
}
.Mila-fire:before {
  content: "\ea08";
}
.Mila-lab:before {
  content: "\ea09";
}
.Mila-magnet:before {
  content: "\ea0a";
}
.Mila-bin:before {
  content: "\ea0b";
}
.Mila-bin2:before {
  content: "\ea0c";
}
.Mila-briefcase:before {
  content: "\ea0d";
}
.Mila-airplane:before {
  content: "\ea0e";
}
.Mila-truck:before {
  content: "\ea0f";
}
.Mila-road:before {
  content: "\ea10";
}
.Mila-accessibility:before {
  content: "\ea11";
}
.Mila-target:before {
  content: "\ea12";
}
.Mila-shield:before {
  content: "\ea13";
}
.Mila-power:before {
  content: "\ea14";
}
.Mila-switch:before {
  content: "\ea15";
}
.Mila-power-cord:before {
  content: "\ea16";
}
.Mila-clipboard:before {
  content: "\ea17";
}
.Mila-list-numbered:before {
  content: "\ea18";
}
.Mila-list:before {
  content: "\ea19";
}
.Mila-list2:before {
  content: "\ea1a";
}
.Mila-tree:before {
  content: "\ea1b";
}
.Mila-menu:before {
  content: "\ea1c";
}
.Mila-menu2:before {
  content: "\ea1d";
}
.Mila-menu3:before {
  content: "\ea1e";
}
.Mila-menu4:before {
  content: "\ea1f";
}
.Mila-cloud:before {
  content: "\ea20";
}
.Mila-cloud-download:before {
  content: "\ea21";
}
.Mila-cloud-upload:before {
  content: "\ea22";
}
.Mila-cloud-check:before {
  content: "\ea23";
}
.Mila-download2:before {
  content: "\ea24";
}
.Mila-upload2:before {
  content: "\ea25";
}
.Mila-download3:before {
  content: "\ea26";
}
.Mila-upload3:before {
  content: "\ea27";
}
.Mila-sphere:before {
  content: "\ea28";
}
.Mila-earth:before {
  content: "\ea29";
}
.Mila-link:before {
  content: "\ea2a";
}
.Mila-flag:before {
  content: "\ea2b";
}
.Mila-attachment:before {
  content: "\ea2c";
}
.Mila-eye:before {
  content: "\ea2d";
}
.Mila-eye-plus:before {
  content: "\ea2e";
}
.Mila-eye-minus:before {
  content: "\ea2f";
}
.Mila-eye-blocked:before {
  content: "\ea30";
}
.Mila-bookmark:before {
  content: "\ea31";
}
.Mila-bookmarks:before {
  content: "\ea32";
}
.Mila-sun:before {
  content: "\ea33";
}
.Mila-contrast:before {
  content: "\ea34";
}
.Mila-brightness-contrast:before {
  content: "\ea35";
}
.Mila-star-empty:before {
  content: "\ea36";
}
.Mila-star-half:before {
  content: "\ea37";
}
.Mila-star-full:before {
  content: "\ea38";
}
.Mila-heart:before {
  content: "\ea39";
}
.Mila-heart-broken:before {
  content: "\ea3a";
}
.Mila-man:before {
  content: "\ea3b";
}
.Mila-woman:before {
  content: "\ea3c";
}
.Mila-man-woman:before {
  content: "\ea3d";
}
.Mila-happy:before {
  content: "\ea3e";
}
.Mila-happy2:before {
  content: "\ea3f";
}
.Mila-smile:before {
  content: "\ea40";
}
.Mila-smile2:before {
  content: "\ea41";
}
.Mila-tongue:before {
  content: "\ea42";
}
.Mila-tongue2:before {
  content: "\ea43";
}
.Mila-sad:before {
  content: "\ea44";
}
.Mila-sad2:before {
  content: "\ea45";
}
.Mila-wink:before {
  content: "\ea46";
}
.Mila-wink2:before {
  content: "\ea47";
}
.Mila-grin:before {
  content: "\ea48";
}
.Mila-grin2:before {
  content: "\ea49";
}
.Mila-cool:before {
  content: "\ea4a";
}
.Mila-cool2:before {
  content: "\ea4b";
}
.Mila-angry:before {
  content: "\ea4c";
}
.Mila-angry2:before {
  content: "\ea4d";
}
.Mila-evil:before {
  content: "\ea4e";
}
.Mila-evil2:before {
  content: "\ea4f";
}
.Mila-shocked:before {
  content: "\ea50";
}
.Mila-shocked2:before {
  content: "\ea51";
}
.Mila-baffled:before {
  content: "\ea52";
}
.Mila-baffled2:before {
  content: "\ea53";
}
.Mila-confused:before {
  content: "\ea54";
}
.Mila-confused2:before {
  content: "\ea55";
}
.Mila-neutral:before {
  content: "\ea56";
}
.Mila-neutral2:before {
  content: "\ea57";
}
.Mila-hipster:before {
  content: "\ea58";
}
.Mila-hipster2:before {
  content: "\ea59";
}
.Mila-wondering:before {
  content: "\ea5a";
}
.Mila-wondering2:before {
  content: "\ea5b";
}
.Mila-sleepy:before {
  content: "\ea5c";
}
.Mila-sleepy2:before {
  content: "\ea5d";
}
.Mila-frustrated:before {
  content: "\ea5e";
}
.Mila-frustrated2:before {
  content: "\ea5f";
}
.Mila-crying:before {
  content: "\ea60";
}
.Mila-crying2:before {
  content: "\ea61";
}
.Mila-point-up:before {
  content: "\ea62";
}
.Mila-point-right:before {
  content: "\ea63";
}
.Mila-point-down:before {
  content: "\ea64";
}
.Mila-point-left:before {
  content: "\ea65";
}
.Mila-warning:before {
  content: "\ea66";
}
.Mila-notification:before {
  content: "\ea67";
}
.Mila-question:before {
  content: "\ea68";
}
.Mila-plus:before {
  content: "\ea69";
}
.Mila-minus:before {
  content: "\ea6a";
}
.Mila-info:before {
  content: "\ea6b";
}
.Mila-cancel-circle:before {
  content: "\ea6c";
}
.Mila-blocked:before {
  content: "\ea6d";
}
.Mila-cross:before {
  content: "\ea6e";
}
.Mila-checkmark:before {
  content: "\ea6f";
}
.Mila-checkmark2:before {
  content: "\ea70";
}
.Mila-spell-check:before {
  content: "\ea71";
}
.Mila-enter:before {
  content: "\ea72";
}
.Mila-exit:before {
  content: "\ea73";
}
.Mila-play2:before {
  content: "\ea74";
}
.Mila-pause:before {
  content: "\ea75";
}
.Mila-stop:before {
  content: "\ea76";
}
.Mila-previous:before {
  content: "\ea77";
}
.Mila-next:before {
  content: "\ea78";
}
.Mila-backward:before {
  content: "\ea79";
}
.Mila-forward2:before {
  content: "\ea7a";
}
.Mila-play3:before {
  content: "\ea7b";
}
.Mila-pause2:before {
  content: "\ea7c";
}
.Mila-stop2:before {
  content: "\ea7d";
}
.Mila-backward2:before {
  content: "\ea7e";
}
.Mila-forward3:before {
  content: "\ea7f";
}
.Mila-first:before {
  content: "\ea80";
}
.Mila-last:before {
  content: "\ea81";
}
.Mila-previous2:before {
  content: "\ea82";
}
.Mila-next2:before {
  content: "\ea83";
}
.Mila-eject:before {
  content: "\ea84";
}
.Mila-volume-high:before {
  content: "\ea85";
}
.Mila-volume-medium:before {
  content: "\ea86";
}
.Mila-volume-low:before {
  content: "\ea87";
}
.Mila-volume-mute:before {
  content: "\ea88";
}
.Mila-volume-mute2:before {
  content: "\ea89";
}
.Mila-volume-increase:before {
  content: "\ea8a";
}
.Mila-volume-decrease:before {
  content: "\ea8b";
}
.Mila-loop:before {
  content: "\ea8c";
}
.Mila-loop2:before {
  content: "\ea8d";
}
.Mila-infinite:before {
  content: "\ea8e";
}
.Mila-shuffle:before {
  content: "\ea8f";
}
.Mila-arrow-up-left:before {
  content: "\ea90";
}
.Mila-arrow-up:before {
  content: "\ea91";
}
.Mila-arrow-up-right:before {
  content: "\ea92";
}
.Mila-arrow-right:before {
  content: "\ea93";
}
.Mila-arrow-down-right:before {
  content: "\ea94";
}
.Mila-arrow-down:before {
  content: "\ea95";
}
.Mila-arrow-down-left:before {
  content: "\ea96";
}
.Mila-arrow-left:before {
  content: "\ea97";
}
.Mila-arrow-up-left2:before {
  content: "\ea98";
}
.Mila-arrow-up2:before {
  content: "\ea99";
}
.Mila-arrow-up-right2:before {
  content: "\ea9a";
}
.Mila-arrow-right2:before {
  content: "\ea9b";
}
.Mila-arrow-down-right2:before {
  content: "\ea9c";
}
.Mila-arrow-down2:before {
  content: "\ea9d";
}
.Mila-arrow-down-left2:before {
  content: "\ea9e";
}
.Mila-arrow-left2:before {
  content: "\ea9f";
}
.Mila-circle-up:before {
  content: "\eaa0";
}
.Mila-circle-right:before {
  content: "\eaa1";
}
.Mila-circle-down:before {
  content: "\eaa2";
}
.Mila-circle-left:before {
  content: "\eaa3";
}
.Mila-tab:before {
  content: "\eaa4";
}
.Mila-move-up:before {
  content: "\eaa5";
}
.Mila-move-down:before {
  content: "\eaa6";
}
.Mila-sort-alpha-asc:before {
  content: "\eaa7";
}
.Mila-sort-alpha-desc:before {
  content: "\eaa8";
}
.Mila-sort-numeric-asc:before {
  content: "\eaa9";
}
.Mila-sort-numberic-desc:before {
  content: "\eaaa";
}
.Mila-sort-amount-asc:before {
  content: "\eaab";
}
.Mila-sort-amount-desc:before {
  content: "\eaac";
}
.Mila-command:before {
  content: "\eaad";
}
.Mila-shift:before {
  content: "\eaae";
}
.Mila-ctrl:before {
  content: "\eaaf";
}
.Mila-opt:before {
  content: "\eab0";
}
.Mila-checkbox-checked:before {
  content: "\eab1";
}
.Mila-checkbox-unchecked:before {
  content: "\eab2";
}
.Mila-radio-checked:before {
  content: "\eab3";
}
.Mila-radio-checked2:before {
  content: "\eab4";
}
.Mila-radio-unchecked:before {
  content: "\eab5";
}
.Mila-crop:before {
  content: "\eab6";
}
.Mila-make-group:before {
  content: "\eab7";
}
.Mila-ungroup:before {
  content: "\eab8";
}
.Mila-scissors:before {
  content: "\eab9";
}
.Mila-filter:before {
  content: "\eaba";
}
.Mila-font:before {
  content: "\eabb";
}
.Mila-ligature:before {
  content: "\eabc";
}
.Mila-ligature2:before {
  content: "\eabd";
}
.Mila-text-height:before {
  content: "\eabe";
}
.Mila-text-width:before {
  content: "\eabf";
}
.Mila-font-size:before {
  content: "\eac0";
}
.Mila-bold:before {
  content: "\eac1";
}
.Mila-underline:before {
  content: "\eac2";
}
.Mila-italic:before {
  content: "\eac3";
}
.Mila-strikethrough:before {
  content: "\eac4";
}
.Mila-omega:before {
  content: "\eac5";
}
.Mila-sigma:before {
  content: "\eac6";
}
.Mila-page-break:before {
  content: "\eac7";
}
.Mila-superscript:before {
  content: "\eac8";
}
.Mila-subscript:before {
  content: "\eac9";
}
.Mila-superscript2:before {
  content: "\eaca";
}
.Mila-subscript2:before {
  content: "\eacb";
}
.Mila-text-color:before {
  content: "\eacc";
}
.Mila-pagebreak:before {
  content: "\eacd";
}
.Mila-clear-formatting:before {
  content: "\eace";
}
.Mila-table:before {
  content: "\eacf";
}
.Mila-table2:before {
  content: "\ead0";
}
.Mila-insert-template:before {
  content: "\ead1";
}
.Mila-pilcrow:before {
  content: "\ead2";
}
.Mila-ltr:before {
  content: "\ead3";
}
.Mila-rtl:before {
  content: "\ead4";
}
.Mila-section:before {
  content: "\ead5";
}
.Mila-paragraph-left:before {
  content: "\ead6";
}
.Mila-paragraph-center:before {
  content: "\ead7";
}
.Mila-paragraph-right:before {
  content: "\ead8";
}
.Mila-paragraph-justify:before {
  content: "\ead9";
}
.Mila-indent-increase:before {
  content: "\eada";
}
.Mila-indent-decrease:before {
  content: "\eadb";
}
.Mila-share:before {
  content: "\eadc";
}
.Mila-new-tab:before {
  content: "\eadd";
}
.Mila-embed:before {
  content: "\eade";
}
.Mila-embed2:before {
  content: "\eadf";
}
.Mila-terminal:before {
  content: "\eae0";
}
.Mila-share2:before {
  content: "\eae1";
}
.Mila-mail:before {
  content: "\eae2";
}
.Mila-mail2:before {
  content: "\eae3";
}
.Mila-mail3:before {
  content: "\eae4";
}
.Mila-mail4:before {
  content: "\eae5";
}
.Mila-amazon:before {
  content: "\eae6";
}
.Mila-google:before {
  content: "\eae7";
}
.Mila-google2:before {
  content: "\eae8";
}
.Mila-google3:before {
  content: "\eae9";
}
.Mila-google-plus:before {
  content: "\eaea";
}
.Mila-google-plus2:before {
  content: "\eaeb";
}
.Mila-google-plus3:before {
  content: "\eaec";
}
.Mila-hangouts:before {
  content: "\eaed";
}
.Mila-google-drive:before {
  content: "\eaee";
}
.Mila-facebook:before {
  content: "\eaef";
}
.Mila-facebook2:before {
  content: "\eaf0";
}
.Mila-instagram:before {
  content: "\eaf1";
}
.Mila-whatsapp:before {
  content: "\eaf2";
}
.Mila-spotify:before {
  content: "\eaf3";
}
.Mila-telegram:before {
  content: "\eaf4";
}
.Mila-twitter:before {
  content: "\eaf5";
}
.Mila-vine:before {
  content: "\eaf6";
}
.Mila-vk:before {
  content: "\eaf7";
}
.Mila-renren:before {
  content: "\eaf8";
}
.Mila-sina-weibo:before {
  content: "\eaf9";
}
.Mila-rss:before {
  content: "\eafa";
}
.Mila-rss2:before {
  content: "\eafb";
}
.Mila-youtube:before {
  content: "\eafc";
}
.Mila-youtube2:before {
  content: "\eafd";
}
.Mila-twitch:before {
  content: "\eafe";
}
.Mila-vimeo:before {
  content: "\eaff";
}
.Mila-vimeo2:before {
  content: "\eb00";
}
.Mila-lanyrd:before {
  content: "\eb01";
}
.Mila-flickr:before {
  content: "\eb02";
}
.Mila-flickr2:before {
  content: "\eb03";
}
.Mila-flickr3:before {
  content: "\eb04";
}
.Mila-flickr4:before {
  content: "\eb05";
}
.Mila-dribbble:before {
  content: "\eb06";
}
.Mila-behance:before {
  content: "\eb07";
}
.Mila-behance2:before {
  content: "\eb08";
}
.Mila-deviantart:before {
  content: "\eb09";
}
.Mila-500px:before {
  content: "\eb0a";
}
.Mila-steam:before {
  content: "\eb0b";
}
.Mila-steam2:before {
  content: "\eb0c";
}
.Mila-dropbox:before {
  content: "\eb0d";
}
.Mila-onedrive:before {
  content: "\eb0e";
}
.Mila-github:before {
  content: "\eb0f";
}
.Mila-npm:before {
  content: "\eb10";
}
.Mila-basecamp:before {
  content: "\eb11";
}
.Mila-trello:before {
  content: "\eb12";
}
.Mila-wordpress:before {
  content: "\eb13";
}
.Mila-joomla:before {
  content: "\eb14";
}
.Mila-ello:before {
  content: "\eb15";
}
.Mila-blogger:before {
  content: "\eb16";
}
.Mila-blogger2:before {
  content: "\eb17";
}
.Mila-tumblr:before {
  content: "\eb18";
}
.Mila-tumblr2:before {
  content: "\eb19";
}
.Mila-yahoo:before {
  content: "\eb1a";
}
.Mila-yahoo2:before {
  content: "\eb1b";
}
.Mila-tux:before {
  content: "\eb1c";
}
.Mila-appleinc:before {
  content: "\eb1d";
}
.Mila-finder:before {
  content: "\eb1e";
}
.Mila-android:before {
  content: "\eb1f";
}
.Mila-windows:before {
  content: "\eb20";
}
.Mila-windows8:before {
  content: "\eb21";
}
.Mila-soundcloud:before {
  content: "\eb22";
}
.Mila-soundcloud2:before {
  content: "\eb23";
}
.Mila-skype:before {
  content: "\eb24";
}
.Mila-reddit:before {
  content: "\eb25";
}
.Mila-hackernews:before {
  content: "\eb26";
}
.Mila-wikipedia:before {
  content: "\eb27";
}
.Mila-linkedin:before {
  content: "\eb28";
}
.Mila-linkedin2:before {
  content: "\eb29";
}
.Mila-lastfm:before {
  content: "\eb2a";
}
.Mila-lastfm2:before {
  content: "\eb2b";
}
.Mila-delicious:before {
  content: "\eb2c";
}
.Mila-stumbleupon:before {
  content: "\eb2d";
}
.Mila-stumbleupon2:before {
  content: "\eb2e";
}
.Mila-stackoverflow:before {
  content: "\eb2f";
}
.Mila-pinterest:before {
  content: "\eb30";
}
.Mila-pinterest2:before {
  content: "\eb31";
}
.Mila-xing:before {
  content: "\eb32";
}
.Mila-xing2:before {
  content: "\eb33";
}
.Mila-flattr:before {
  content: "\eb34";
}
.Mila-foursquare:before {
  content: "\eb35";
}
.Mila-yelp:before {
  content: "\eb36";
}
.Mila-paypal:before {
  content: "\eb37";
}
.Mila-chrome:before {
  content: "\eb38";
}
.Mila-firefox:before {
  content: "\eb39";
}
.Mila-IE:before {
  content: "\eb3a";
}
.Mila-edge:before {
  content: "\eb3b";
}
.Mila-safari:before {
  content: "\eb3c";
}
.Mila-opera:before {
  content: "\eb3d";
}
.Mila-file-pdf:before {
  content: "\eb3e";
}
.Mila-file-openoffice:before {
  content: "\eb3f";
}
.Mila-file-word:before {
  content: "\eb40";
}
.Mila-file-excel:before {
  content: "\eb41";
}
.Mila-libreoffice:before {
  content: "\eb42";
}
.Mila-html-five:before {
  content: "\eb43";
}
.Mila-html-five2:before {
  content: "\eb44";
}
.Mila-css3:before {
  content: "\eb45";
}
.Mila-git:before {
  content: "\eb46";
}
.Mila-codepen:before {
  content: "\eb47";
}
.Mila-svg:before {
  content: "\eb48";
}
.Mila-IcoMoon:before {
  content: "\eb49";
}
